@page "/editRealEstate/{RealEstateId:guid}"
@using DiplomaRealEstate.InputModel
@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.RealEstateServices
@inject IJSRuntime JSRuntime
@inject IRealEstateService RealEstateService
@rendermode InteractiveServer
<PageTitle>Редактирование недвижимости</PageTitle>
<EditForm Model="@_realEstateModel" OnValidSubmit="UpdateRealEstateValidSubmit" FormName="update">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<h1>Редактирование</h1>
	<div class="form-floating mb-3">
		<InputText id="Areas" class="form-control" @bind-Value="_realEstateModel.Area" placeholder="212314" />
		<label for="Areas">Площадь</label>
	</div>
	<div class="form-floating mb-3">
		<InputNumber id="Prices" class="form-control" @bind-Value="_realEstateModel.Price" placeholder="212314" />
		<label for="Prices">Цена ₽</label>
	</div>
	<div class="form-floating mb-3">
		<InputNumber id="Room" class="form-control" @bind-Value="_realEstateModel.Rooms" placeholder="212314" />
		<label for="Room">Число комнат</label>
	</div>
	<div class="form-floating mb-3">
		<InputTextArea id="Description" class="form-control" @bind-Value="_realEstateModel.Desctiption" placeholder="212314" />
		<label for="Countrys">Сись</label>
	</div>
	<div class="form-floating mb-3">
		<InputText id="Countrys" class="form-control" @bind-Value="_realEstateModel.Country" placeholder="212314" />
		<label for="Countrys">Страна</label>
	</div>
	<div class="form-floating mb-3">
		<InputText id="Regions" class="form-control" @bind-Value="_realEstateModel.Region" placeholder="212314" />
		<label for="Regions">Область</label>
	</div>
	<div class="form-floating mb-3">
		<InputText id="Cities" class="form-control" @bind-Value="_realEstateModel.City" placeholder="212314" />
		<label for="Cities">Город</label>
	</div>
	<div class="form-floating mb-3">
		<InputText id="Streets" class="form-control" @bind-Value="_realEstateModel.Street" placeholder="212314" />
		<label for="Streets">Улица</label>
	</div>
	<div class="form-floating mb-3">
		<InputText id="Houses" class="form-control" @bind-Value="_realEstateModel.House" placeholder="212314" />
		<label for="Houses">Дом</label>
	</div>
	<div id="map" style="width: 100%; height: 400px;" class="mb-3"></div>
	<div class="input-group mb-3">
		<span class="input-group-text">Широта и Долгота</span>
		<InputText id="Latitudes" class="form-control" @bind-Value="_realEstateModel.Latitude" placeholder="212314" />
		<InputText id="Longitudes" class="form-control" @bind-Value="_realEstateModel.Longitude" placeholder="212314" />
	</div>
	<div class="form-floating mb-3">
		<InputFile id="photos" class="form-floating" OnChange="HandleFileSelected" />
	</div>
	@if (_categories != null)
	{
		<div class="form-floating mb-3">
			<InputSelect id="categories" class="form-control" @bind-Value="_realEstateModel.CategoryId" >
				<option selected>Категория</option>
				@foreach (var category in _categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</InputSelect>
		</div>
	}
	@if (_types != null)
	{
		<div class="form-floating mb-3">
			<InputSelect id="types" class="form-control" @bind-Value="_realEstateModel.TypeRealEstateId" >
				<option selected>Тип недвижимости</option>
				@foreach (var category in _types)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</InputSelect>
		</div>
	}
	<button type="submit" class="btn btn-outline-success">Сохранить</button>
</EditForm>
@code {
	[SupplyParameterFromForm]
	private RealEstateEditModel _realEstateModel { get; set; } = new RealEstateEditModel();
	[Parameter]
	public Guid RealEstateId { get; set; }
	private List<Category> _categories { get; set; }
	private List<TypeRealEstate> _types { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_categories = await RealEstateService.GetAllCategoryAsync();
		_types = await RealEstateService.GetAllTypeAsync();
		_realEstateModel = await RealEstateService.GetRealEstateAsync(RealEstateId);
	}
	private void HandleFileSelected(InputFileChangeEventArgs e)
	{
		var file = e.File;
		if (file != null)
		{
			_realEstateModel.Photos = file.Name;
		}
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("initMap", DotNetObjectReference.Create(this), _realEstateModel.Latitude, _realEstateModel.Longitude);
		}
	}

	[JSInvokable]
	public async Task SetCoordinates(string latitude, string longitude)
	{
		_realEstateModel.Latitude = latitude;
		_realEstateModel.Longitude = longitude;
		await InvokeAsync(StateHasChanged);
	}
	private async Task UpdateRealEstateValidSubmit()
	{
		await RealEstateService.UpdateRealEstate(_realEstateModel.Id, _realEstateModel);
	}
}
<script>
	window.initMap = function (dotNetObjRef, lat, lon) {
		ymaps.ready(function () {
			var center = [parseFloat(lat), parseFloat(lon)]; 
			var myMap = new ymaps.Map('map', {
				center: center, 
				zoom: 16 
			});

			var myPlacemark = new ymaps.Placemark(center, {
				hintContent: 'местоположение метки, т.е. недвижимости'
			}, {
				draggable: false
			});

			myMap.geoObjects.add(myPlacemark);

			function setPlacemarkCoords(coords) {
				myPlacemark.geometry.setCoordinates(coords);
				dotNetObjRef.invokeMethodAsync('SetCoordinates', coords[0].toString(), coords[1].toString());
			}

			myPlacemark.events.add('dragend', function (e) {
				var coords = myPlacemark.geometry.getCoordinates();
				setPlacemarkCoords(coords);
			});

			myMap.events.add('click', function (e) {
				var coords = e.get('coords');
				setPlacemarkCoords(coords);
			});
		});
	}
</script>