@page "/indexRealEstateUser"
@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.RealEstateServices
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IRealEstateService RealEstateService
@inject UserManager<User> userManager
<h3>выаш индект @_userId</h3>

@foreach (var item in _listRealEstates)
{
	<div class="card mb-3" style="max-width: 500px">
		<img src="/images/@item.Photos" />
		<div class="col-md-6">
			<p1>@item.Region, город @item.City</p1>
			<p1>Улица @item.Street, дом @item.House</p1>

			<a href="https://yandex.ru/maps" target="_blank">
				<img width="46px" height="46px" src="/images/world-map-with-a-placeholder.svg" />
			</a>
			<p>Описание: @item.Desctiption</p>
			<p>Цена: @item.Price ₽</p>
			<a href="editRealEstate/@item.Id" class="btn btn-outline-info">Редактировать</a>
			<button type="submit" class="btn btn-outline-primary" style="">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
				</svg> в избранное
			</button>
			<button type="button" class="btn btn-outline-primary">
				<img width="46px" height="46px" src="/images/world-map-with-a-placeholder.svg" />
				<a href="https://yandex.ru/maps/?ll=@item.Latitude,@item.Longitude&z=12"> посмотреть на карте</a>
			</button>
		</div>
	</div>
}

@code {
    private List<RealEstate> _listRealEstates = new List<RealEstate>();
    private string _userId;
    protected override async Task OnInitializedAsync()
    {
        var authUser = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authUser.User;
        _userId = user.FindFirst(u=>u.Type==ClaimTypes.NameIdentifier).Value;
        _listRealEstates = await RealEstateService.GetAllRealEstateIUserAsync(_userId);
	}
}
