@page "/indexRealEstate"

@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.FavoriteServices
@using DiplomaRealEstate.Services.RealEstateServices
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject IRealEstateService RealEstateService
@inject IFavoriteService FavoriteService
@inject AuthenticationStateProvider AutenticationStateProvider
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Каталог недвижимости</PageTitle>

<div class="container py-5">
    <h1 class="text-center mb-1">Каталог недвижимости</h1>
    @if (_realEstates.Count == 0)
    {
        <h1 class="text-center mb-4">
            Упс, ничего нет(((
        </h1>
    }
    else
    {
        <div class="row">
            @foreach (var item in _realEstates)
            {
                <div class="col-md-4 mb-3">
                    <div class="card real-estate-card h-100 shadow">
                        <div class="real-estate-image">
                            <img src="/images/@item.Photos" style="width:400px;height: 400px;" />
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@item.Region, @item.City</h5>
                            <p class="card-text flex-grow-1">@item.Street, д. @item.House</p>
                            <h3 class="mb-3 text-success">@item.Price ₽</h3>
                            <a href="detailsRealEstate/@item.Id" class="mb-3 btn btn-outline-primary  ">Подробнее</a>
                            <button class="btn btn-light btn-favorite" @onclick="() => AddToFavorite(item.Id)">
                                <i class="GetButtonClass(item.Id) fa-heart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                    </svg>
                                </i>
                            </button>
                            <a href="createTransaction/@item.Id" class=" mb-3 btn btn-outline-success ">оформить покупку</a>
                            @if (_isAdmin)
                            {
                                <button class="mb-3 btn btn-outline-danger" @onclick="() => RemoveRealEstate(item.Id)">
                                    удалить
                                </button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<style>
    .btn-favorite {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #dc3545; /* Bootstrap danger color */
        font-size: 1.5rem;
    }

    /* Стили для сердечка при добавлении в избранное */
    .btn-outline-success {
        color: #28a745 !important;
    }

    .btn-outline-primary {
        color: #007bff !important;
    }

    .fa-heart {
        transition: color 0.3s;
    }

        .fa-heart:hover {
            color: #dc3545;
        }

    .real-estate-card {
        transition: transform .3s ease-in-out;
        border-radius: 1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

        .real-estate-card:hover {
            transform: translateY(-10px);
        }

    .real-estate-image {
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .card-title {
        font-weight: bold;
    }

    .card-body {
        background-color: #f8f9fa;
    }

    .text-success {
        color: #28a745 !important; /* Более насыщенный цвет для цены */
    }
</style>
@code {
    private List<RealEstate> _realEstates = new List<RealEstate>();
    private bool _isAuthenticated;
    private bool _isAdmin;
    public string _userId;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AutenticationStateProvider.GetAuthenticationStateAsync();
        _isAuthenticated = authState.User.Identity.IsAuthenticated;
        _userId = authState.User.FindFirst(u => u.Type == ClaimTypes.NameIdentifier).Value;
        _isAdmin = _isAuthenticated && authState.User.IsInRole("Admin");
        _realEstates = await RealEstateService.GetAllRealEstateAsync();
    }
    private async Task AddToFavorite(Guid id)
    {
        if (_isAuthenticated)
        {
            bool isFavorite = await FavoriteService.GetFavoriteByUserAsync(_userId, id);
            if (!isFavorite)
            {
                await FavoriteService.AddFavoriteAsync(_userId, id);
            }
            else
            {
                await FavoriteService.RemoveFavoriteAsync(_userId, id);
            }
        }
    }
    private async Task RemoveRealEstate(Guid productId)
    {
        await RealEstateService.RemoveRealEstateAsync(productId);

        _realEstates = await RealEstateService.GetAllRealEstateAsync();
    }
}